.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data =>{:target =>".nav-collapse", :toggle => "collapse"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#"}Hanyu Study Center
      .nav-collapse.collapse
        %ul.nav
          %li.active
            = link_to 'Hanzi Spectrum Analyzer', hanzi_home_path
          %li
            = link_to 'About', '#'
